<!DOCTYPE html>
<html lang="fr">
<head>

</head>
    <body>
    <p>Bonjour,</p>

    <p>Un nouveau message été posté : </p>

    <hr />

    <p><b>Auteur :</b> {{ message.name }}</p>
    <p><b>Auteur mail :</b> {{ message.mail }}</p>

    <p><b>Sujet :</b> {{ message.subject }}</p>
    <p><b>Message :</b> {{ message.message }}</p>

    <i>Cordialement,</i>
</body>
</html>