{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked affix-top" data-spy="affix" data-offset-top="125">
                <li class="active"><a href="#dev">Developement</a></li>
                <li><a href="#database">Database</a></li>
            </ul>
        </div>
        <div class="col-xs-9">
            <section id="dev">
                <div  class="row skill-element">
                    <div class="col-lg-9">
                        <h2 class="example-title">Developement</h2>

                        <div class="row" style="background-color: #5cb85c;">
                            <div class="col-lg-12 skill-group" style="background-color: #ffffff; " data-toggle="tooltip" data-placement="left" title="Langages">
                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#java" aria-controls="java"
                                           aria-expanded="false">
                                            Java
                                        </a>
                                    </div>
                                    <div class="col-sm-9" id="accordion">
                                        <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="95%">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 95%"><span class="sr-only">95% Complete (success)</span></div>

                                        </div>
                                        <div class="row panel-collapse collapse" id="java" role="tabpanel" aria-labelledby="java">
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li>Jdbc</li>
                                                    <li>Jdbi</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li>Hibernate</li>
                                                    <li>Dropwizard</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#javaee" aria-controls="javaee"
                                           aria-expanded="false">
                                            Java EE
                                        </a>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="80%">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 80%"><span class="sr-only">80% Complete (success)</span></div>
                                        </div>
                                        <div class="row panel-collapse collapse" id="javaee" role="tabpanel" aria-labelledby="javaee">
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li>Jersey</li>
                                                    <li>Spring MVC</li>
                                                    <li>JSF</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li>Jpa</li>
                                                    <li>Struts</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#csharp" aria-controls="csharp"
                                           aria-expanded="false">
                                            C#
                                        </a>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="65%">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 65%"><span class="sr-only">65% Complete (success)</span></div>
                                        </div>
                                        <div class="row panel-collapse collapse" id="csharp" role="tabpanel" aria-labelledby="csharp">
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li>WPF</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li>WCF</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        C++
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="60%">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Complete (success)</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        C
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="50%">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 50%"><span class="sr-only">50% Complete (success)</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="background-color: #37bc9b;">
                            <div class="col-lg-12 skill-group" style="background-color: #ffffff; " data-toggle="tooltip" data-placement="left" title="WEB">
                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#php" aria-controls="php"
                                           aria-expanded="false">
                                            PHP
                                        </a>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="85%">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 85%"><span class="sr-only">85% Complete (success)</span></div>
                                        </div>
                                        <div class="row panel-collapse collapse" id="php" role="tabpanel" aria-labelledby="php">
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li>Symfony 2</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        HTML 5
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="70%">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 70%"><span class="sr-only">70% Complete (success)</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        CSS 3
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="65%">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 65%"><span class="sr-only">65% Complete (success)</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        Javascript / Jquery
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="70%">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 70%"><span class="sr-only">70% Complete (success)</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        AngularJS
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="50%">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 50%"><span class="sr-only">50% Complete (success)</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="background-color: #3bafda;">
                            <div class="col-lg-12 skill-group" style="background-color: #ffffff; " data-toggle="tooltip" data-placement="left" title="Mobile">
                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        Windows Phone
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="60%">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Complete (success)</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        Android
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="35%">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 35%"><span class="sr-only">35% Complete (success)</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <img class="img-responsive" src="{{ asset('images/dev.png') }}">
                    </div>
                </div>
            </section>
            <hr />
            <section id="database">
            <div  class="row skill-element">
                <div class="col-lg-9">
                    <h2 class="example-title">Database</h2>

                    <div class="row" style="background-color: #5cb85c;">
                        <div class="col-lg-12 skill-group" style="background-color: #ffffff; " data-toggle="tooltip" data-placement="left" title="SGBD">
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    MySQL
                                </div>
                                <div class="col-sm-9">
                                    <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="70%">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 70%"><span class="sr-only">40% Complete (success)</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    PostgreSQL
                                </div>
                                <div class="col-sm-9">
                                    <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="30%">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 30%"><span class="sr-only">30% Complete (success)</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    SQLLite
                                </div>
                                <div class="col-sm-9">
                                    <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="60%">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Complete (success)</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    MongoDB
                                </div>
                                <div class="col-sm-9">
                                    <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="45%">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 45%"><span class="sr-only">45% Complete (success)</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    Microsoft SQL Server
                                </div>
                                <div class="col-sm-9">
                                    <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="50%">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 50%"><span class="sr-only">50% Complete (success)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row" style="background-color: #37bc9b;">
                        <div class="col-lg-12 skill-group" style="background-color: #ffffff; " data-toggle="tooltip" data-placement="left" title="Langages">
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    SQL
                                </div>
                                <div class="col-sm-9">
                                    <div class="progress progress-striped active" data-toggle="tooltip" data-placement="top" title="80%">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 80%"><span class="sr-only">80% Complete (success)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <img class="img-responsive" src="{{ asset('images/database.png') }}">
                </div>
            </div>
            </section>
        </div>
    </div>

{% endblock %}
